
#title{
    color: red;
    font-size: 40px;
    font-weight: bold;
}
.links{
    font-size: 30px;
    font-style: italic;;
}
.ingredients{
    font-style: italic;
    background-color: red;
}
body{
    max-width: 500px;
    word-wrap: break-word;
}
.header{
    text-decoration: underline;
    background: blue;
}
.description{
    background-color: aqua;
}
.page-title{
    background-color: purple;
    
}
.steps{
    background-color: orange;
}
hr {
    width: 500px;
}